/**************************************************************************
 *
 * GLOBAL DEFINITIONS
 *
 **************************************************************************/

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Cond.woff2') format('woff2'),
  url('../fonts/MyriadPro-Cond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BoldCond.woff2') format('woff2'),
  url('../fonts/MyriadPro-BoldCond.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-color: #E2411B;
  --secondary-color: #082C4F;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Myriad Pro', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
  letter-spacing: 0;
}

p{
  text-align: left;
  font-size: 2rem;
  max-width: 50em;
  margin: 0 auto;
}

a,
a:visited{
  color: #00bab3;
}

a:hover,
a:focus{
  color: #00bab3;
  text-decoration: none;
}

.separator{
  height: 2px;
  width: 8rem;
  margin: 2em auto;
  background-color: currentColor;
}

.background-celerit-orange {
  background-color: var(--main-color)!important;
  color:white;
}

.background-celerit-blue {
  background-color: var(--secondary-color)!important;
  color:white;
}

.background-snic-grey{
  background: #373636 !important;
  color: white;
}

.background-snic-blue{
  background: #00bab3 !important;
  color: white;
}

.background-gold{
  background: #eee8aa !important;
}

.background-silver{
  background: #d3d3d3 !important;
}

.background-snic-blue a,
.background-snic-blue a:visited{
  color: white;
  opacity: 0.8;
}

.background-snic-blue a:hover,
.background-snic-blue a:focus{
  color: white;
  opacity: 1;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}


.margin-vert {
  margin-top: 1em;
  margin-bottom: 1em;
}

.checkbox label{
  font-weight: normal;
  font-size: 1.75rem;
  margin-bottom: 2vh;
}

.checkbox label > input {
  margin-right: 0.5em;
}

/**************************************************************************
 *
 * COMPONENT SPECIFIC DEFINITIONS
 *
 **************************************************************************/

/***********************************
 *  Navbar
 ***********************************/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 10px;
  opacity: 0.9;

  background-color: #041E37;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

  font-size: 2rem;
  line-height: 50px;

  z-index: 100000000;
  /*overflow: hidden; */
}

.navbar .dropdown,
.navbar a,
.navbar a:visited{
  width: 100%;
  display: inline-block;
  opacity: 1;
}
.navbar .dropdown .dropdown-toggle {
  width: 100%;
  padding: 0px 10px;
  border: none;
  text-align: left;
}

.navbar a:hover,
.navbar a:focus{
  opacity: 0.8;
}

.navbar .logonav{
  display: inline-block;
}

.navbar .logonav img{
  position: relative;
  top: -3px;
  height: 30px;
  vertical-align: middle;
}

.navbar button.toggle{
  display: inline-block;
  height: 50px;
  padding: 0 5px;
  margin: 0;
  float: right;
  border: none;
  outline: none;
  font-size: inherit;
  line-height: 50px;
  color: white;
}

.navbar .pages.collapse{
  display: none;
  margin: 0 -10px;
  padding: 0;
  list-style: none;
  color: white;
}

.navbar .pages.collapse.open{
  display: block;
}
.navbar .pages li{
  display: block;
  margin: 0;
}

/* Links inside the navbar */

.navbar .pages a,
.navbar .pages a:visited {
  padding: 10px 10px;
  width: 100%;
  color: white;
  text-decoration: none;
}

.navbar .pages.collapse .dropdown a {
  color:black;
  display:block;
}

.dropdown-menu {
  width:100%;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.thumbnails {
  overflow: hidden;
}
.thumbnails li {
  float: left;
  width: 5%;
  position: relative;
  padding: 1px;
  min-height: 100px;
  overflow: hidden;
}
.thumbnails li img {
  max-width: 100%;
  display: block;
  position: absolute;
  max-height: 100px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

@media (min-width: 800px) {
  .navbar .dropdown .dropdown-toggle {
    width: auto;
  }

  .navbar .collapse{
    display: inline-block
  }

  .navbar button.toggle{
    display: none;
  }

  .navbar .pages.collapse{
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
  }

  .navbar .pages li{
    display: inline-block;
  }

  .navbar .pages a {
    width: auto;
    padding: 0 10px;
  }

  .navbar .pages.collapse .dropdown a {
    color:black;
    padding: 5px;
  }

  .navbar .pages li .dropdown li{
    display: block;
    text-align: left
  }

  .navbar .pages li .dropdown li a{
    text-align: right;
  }

  .dropdown-menu {
    min-width: 100px !important;
  }
}

/*
 * Navicon
 */

.navicon-button {
    display: inline-block;
    position: relative;
    transition: 0.125s;
    cursor: pointer;
    user-select: none;
}

.navicon-button:active,
.navicon-button:focus{
    outline: none;
}

.navicon-button .navicon:before, .navicon-button .navicon:after {
    transition: 0.25s;
}
.navicon-button:hover {
    transition: 0.5s;
    opacity: 1;
}
.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
    transition: 0.25s;
}
.navicon-button:hover .navicon:before {
    top: .40em;
}
.navicon-button:hover .navicon:after {
    top: -.40em;
}

.navicon {
    display: inline-block;
    position: relative;
    top: -.09em;
    width: 1.1em;
    height: .15em;
    background: currentColor;
    transition: 0.5s;
    vertical-align: middle;
    border-radius: .03em;
}

.navicon:before,
.navicon:after {
    display: block;
    content: "";
    height: .15em;
    width: 1.1em;
    background: currentColor;
    position: absolute;
    z-index: 0;
    transition: 0.5s 0.25s;
    border-radius: .03em;
}

.navicon:before {
    top: .30em;
}
.navicon:after {
    top: -.30em;
}

.navicon-button[aria-expanded=true]:not(.steps) .navicon:before,
.navicon-button[aria-expanded=true]:not(.steps) .navicon:after,
.navicon-button.open:not(.steps) .navicon:before,
.navicon-button.open:not(.steps) .navicon:after {
    top: 0 !important;
}

.navicon-button[aria-expanded=true] .navicon:before,
.navicon-button[aria-expanded=true] .navicon:after,
.navicon-button.open .navicon:before,
.navicon-button.open .navicon:after {
    transition: 0.5s;
}

/* times sign */
.navicon-button[aria-expanded=true] .navicon.navicon-times,
.navicon-button.open .navicon.navicon-times{
  background: transparent;
}

.navicon-button[aria-expanded=true] .navicon.navicon-times:before,
.navicon-button.open .navicon.navicon-times:before{
  transform: rotate(-45deg);
}

.navicon-button[aria-expanded=true] .navicon.navicon-times:after,
.navicon-button.open .navicon.navicon-times:after{
  transform: rotate(45deg);
}


/********************
 * Header
 ********************/
header.text h2 {
  position: relative;
  min-height: 5vh;

  padding: 4em 2em 2em 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(0, 186, 179, 0.7);
  color: white;
  opacity: .9;

  margin-bottom: 1em;

}

header.hero{
  position: relative;
  /*min-height: 80vh;*/

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  color: white;
  margin-bottom: 1em;
}

header.hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--secondary-color);
}

header.hero .logo{
  max-width: 80%;
  width: 50em;
}

header.hero video {
  /*max-width: 100%;*/
  max-height: 100%;
  margin-top: 50px;
  max-width: 100vw;
}

header.hero p {
  color: white;
  max-width: 30em;
  font-size: 2rem;
  text-align: center;
}

header.hero h2{
  font-size: 5rem;
}

@media (min-width: 400px) {
  header.hero p{
    font-size: 2.5rem;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  header.hero p{
    font-size: 3rem;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  header.hero p{
    font-size: 3.6rem;
  }
}


/******************
 * sections
 ******************/

section h1,
section h2,
section h3,
section h4,
section h5,
section h6{
  text-align: center;
}

section.poweredby {
  width: 100%;
  height: 400px;
  position: relative;
  margin-top: 100px;
}

section.poweredby:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(-7deg);
}

section.poweredby:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
}

section.poweredby .content{
  padding: 5rem 15px;
}


section.slanted{
  transform: skewY(3deg);
  margin-top: -2px;
}

section.slanted .content{
  transform: skewY(-3deg);
  padding: 5rem 15px;
}

section.slanted.twocolumn{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  background-color: white;
}

section.slanted.twocolumn .subpage{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}

section.slanted.twocolumn .subpage.image{
  background-size: cover;
  order: -1;
  height: 50vw;
  margin-bottom: -1px;
}

section.slanted.twocolumn .content{
  max-width: 45em;
  margin: 0 auto;
}

section.intro {
  margin-top: 50px;
  margin-bottom: 50px;
}

section.intro p {
  text-align: left;
  padding-bottom: 10px;
}

section.intro .content {
  max-width: 600px;
  margin: auto;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

section.quote{
  background-color: #373636;
  text-align: center;
  color: white;
}

section.quote .content{
  font-size: 2rem;
}

section.quote .person{
  font-size: 80%;
  color: #00bab3;
}

#contact {
  margin: auto;
}

#contact b {
  display: block;
}

#contact .contact-entry {
  margin-left: 20px;
  display: block;
}

@media (min-width: 400px) {
  section.quote .content{
    font-size: 2.5rem;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  section.slanted.twocolumn .subpage.image{
    height: 75vw;
  }
}


/* Larger than tablet */
@media (min-width: 750px) {
  section.slanted .content{
    max-width: 800px;
    margin: auto;
    padding: 10rem 15px;
  }

  section.slanted.twocolumn{
    flex-wrap: wrap;
  }

  section.slanted.twocolumn .subpage{
    flex-grow: 1;
    flex-basis: 40%;
    transition: flex-basis 0.2s ease-out;
  }

  section.slanted.twocolumn .subpage:not(.image){
    flex-basis: 60%;
  }

  section.slanted.twocolumn .subpage.image{
    height: auto;
    order: unset;
    margin-bottom: 0;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  section.quote .content{
    font-size: 3rem;
  }

  section.slanted.twocolumn .subpage,
  section.slanted.twocolumn .subpage:not(.image){
    flex-basis: 50%;
  }
}


/* Larger than Desktop HD */
@media (min-width: 1200px) {
  section.quote .content{
    font-size: 3.6rem;
  }
}

/****************************
 * Button
 ****************************/
 .button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary
{
  color: #00bab3;
  background-color: #FFF;
  border-color: #00bab3;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus
{
  color: #FFF;
  background-color: #00bab3;
  border-color: #00bab3;
}

/****************************
 * Footer
 ****************************/

footer {
  width: 100%;
  background-color: #373636;
  padding: 5vh 10%;
}

footer .sponsor {
  color: white;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: stretch;
  margin:-10px auto;
}

.sponsor a {
  height: 100px;
  display: inline-flex;
  margin: 10px;
  padding: 10px;
  flex-grow: 1;
  flex-basis: calc(100% - 20px);
  text-align: center;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.sponsor a img {
  max-width: 100%;
  max-height: 100%;
}


.sponsor a.gold,
.sponsor a.nedap {
  flex-grow: 2;
  flex-basis: 100%;
  margin: 15px;
  max-width: 100%;
}

.sponsor a.nedap {
  background-color: transparent;
}

@media (min-width: 750px) {
  footer .sponsor {
    width: 75%;
  }

  .sponsor a {
    height: 150px;
    flex-basis: calc(50% - 20px);
  }

  .sponsor a.gold {
    flex-grow: 2;
    flex-basis: 100%;
    margin: 15px 75px;
    max-width: 80%;
  }
}

@media (min-width: 1200px) {
  footer .sponsor {
    width: 50%;
  }
}

footer a,
footer a:visited{
  color: white;
  text-align: center;
  margin: 0 1vw;
  display: inline-block;
}

footer a:hover,
footer a:focus{
  color:#00bab3;
}

.foot{
  overflow: hidden;
  width: 100%; /* Full width */
  margin-top: 30px;
  color: white;
  text-align: center;
}

.banner{
  width: 60vw;
  height: 20vh;
  display: block;
  background-image: url('../images/Banner.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

@media (min-width: 750px) {

  .banner{
    /*width: 80vw;*/
    height: 20vh;
  }
}



/**************************************************************************
 *
 * PAGE SPECIFIC DEFINITIONS
 *
 **************************************************************************/


/****************************
 * Index
 ****************************/

/*header.hero.index{*/
/*   background-image: url('../images/foto1.jpg');*/
/*}*/

section#speakers .subpage.image{
  background-image: url('../images/Foto-Spreker.jpg');
  background-position: center 80%;
}

section#location .subpage.image{
  background-image: url('../images/Foto-Spiegel.jpg');
  background-position: center 30%;
}


section#snic .subpage.image{
  background-image: url('../images/zaal.jpg');
  background-position: right 20%;
}


.video{
  position: relative;
  min-height: 70vh;

  padding: 8em 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url('../images/fotozaal.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  color: white;
  opacity: .9;
}

.video::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgba(0, 186, 179, 0.7);
}

.youtube{
  text-align: center;
  width: 100%;
  position: relative;
  color: white;
}

.youtube a,
.youtube a:visited,
.youtube a:hover,
.youtube a:focus{
  color: white;
}

.youtube a:hover,
.youtube a:focus{
  opacity: 0.8;
}



/****************************
 * Speakers
 ****************************/
header.hero.speakers{
  background-image: url('../images/Foto-Spreker2.jpg');
}

.timetable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.timetable .time {
  flex: 1 0 50px;
  flex-grow: 2;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.timetable .session {
  text-align: center;
  flex: 1 0 300px;
  box-sizing: border-box;
  color: #171e42;
  padding: 10px;
  margin: 1em 0em;
  width: 80vw;
}

.timetable .session .shorten {
  padding-bottom: 10px;
}

.timetable img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px
}

.timetable .session p {
  text-align: justify;
  text-align-last: center;
}

.timetable .session::after {
  font-family: FontAwesome;
  content: "\f068";
}

.timetable .session:last-of-type:after {
  content: "";
}

@media(min-width: 600px) {
  .timetable img {
    max-width: 400px;
  }

  .timetable .session::after {
    content: none;
  }
}

@media(min-width: 1500px){
  .timetable {
    margin: 10px 10vw;
  }

  .timetable .session {
    width: 30vw;
    margin: 0px;
  }

  .timetable img.nick {
    margin-top: 45px;
  }

  .timetable h5.david {
    margin-top: 65px;
  }
}

/****************************
 * Panel
 ****************************/
section.panel h3 {
  flex-basis: 100%;
  margin-top: 20px;
}

section.panel .speaker p {
  margin-bottom:20px;
}

section.panel .speaker {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 900px;
}
section.panel .photo {
  margin: 0 auto;
}

section.panel .photo img {
  max-width: 100%;
  display: block;
}


@media(min-width: 900px){
  section.panel .content .speaker p {
    max-width: 650px;
    flex-grow: 1;
    margin-top: auto;
    margin-bottom: auto;
  }

  section.panel .photo {
    max-width: 200px;
    flex-grow: 1;
  }

  section.panel .speaker:nth-child(odd) {
    flex-direction: row;
  }

  section.panel .speaker:nth-child(even) {
    flex-direction: row-reverse;
  }
}
/****************************
 * Partners
 ****************************/
header.hero.partners{
  background-image: url('../images/Foto-Sponsor.jpg');
}

.box{
  position: relative;
  max-width: 20em;
  margin: 0 auto 25px;
}

.box a{
  opacity: 1;
}

.box a:hover{
  opacity: 0.7;
}

.box img{
  width: 100%;
}

#platinum .box{
  max-width: 40em;
  margin: 0 auto 50px;
}

#gold .box{
  max-width: 25em;
}

#gold.slanted.background-gold .row {
  margin-bottom: 40px;
}


@media (min-width: 550px) {

  section#mimi .subpage.image,
  section#guussieboy .subpage.image,
  section#entn .subpage.image,
  section#harm .subpage.image,
  section#marty .subpage.image,
  section#renac .subpage.image,
  section#xabi .subpage.image{
    min-height: initial
  }
}

@media (min-width: 400px) {
  section#mimi .subpage.image,
  section#guussieboy .subpage.image,
  section#entn .subpage.image,
  section#harm .subpage.image,
  section#marty .subpage.image,
  section#renac .subpage.image,
  section#xabi .subpage.image{
    min-height: 420px;
  }
}

/****************************
 * Diet
 ****************************/

#diet-table {
  float: none;
}

.diet.table {
  margin: 0 0 2em 0;
  width: 100%;
}

.diet.table thead th {
  padding: 10px 0px 10px 0px;
  width:20%;
}

.diet.table thead th .checkbox {
  padding: 10px 0px 10px 0px;
  width: 10%;
  text-align: center;
}

/****************************
 * Aanwezig
 ****************************/

#aanwezig-table {
  float: none;
}

table.aanwezig {
  width:100%;

}

/****************************
 * Participate
 ****************************/

ul.associations {
  list-style: none;
  padding-left: 0;
  margin: 1rem auto;
  text-align: center;
}

section.intro p.participate {
  text-align: center
}

.background-nedap-orange{
  background: #FF8700 !important;
  color: white;
}

.background-nedap-grey{
  background: #69696E !important;
  color: white;
}


/****************************
 * One-off elements
 ****************************/

.GEWIS-link {

}

.privacy {
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
}

.alert-dismissable .close, .alert-dismissible .close {
  float:right;
}

article + .readmore-js-toggle { padding-bottom: 1.5em; border-bottom: 1px solid #999; font-weight: bold;}
